
@{
    ViewData["Title"] = "Hrvatski";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
   
</head>
<body>

    <h2>Popis odjela</h2>

    <table id="table_id1">
        <tr>
            <th>Odredište</th>
            <th>Telefon</th>
            <th>Voditelj odjela</th>
        </tr>
        <tr>
            <td>Istovar robe</td>
            <td>23400 2075</td>
            <td>Derahgo H.</td>
        </tr>
        <tr>
            <td>Utovar robe</td>
            <td>23400 2078</td>
            <td>Davor S.</td>
        </tr>
        <tr>
            <td>Voditelj proizvodnje</td>
            <td>23400 205</td>
            <td>Vlado H.</td>
        </tr>
        <tr>
            <td>Kadrovska služba</td>
            <td>23400 200</td>
            <td>Mata Hari</td>
        </tr>
        <tr>
            <td>Uprava</td>
            <td>23400 200</td>
            <td>Smiljka Bišćan</td>
        </tr>
        <tr>
            <td>Nabava</td>
            <td>23400 222</td>
            <td>Hrvoje Antolić</td>

        </tr>
        <tr>
            <td>Financije</td>
            <td>2300 208</td>
            <td>Maja Vaja</td>
        </tr>
        <tr>
            <td>Skladište</td>
            <td>23400 203</td>
            <td>Canada</td>
        </tr>
        <tr>
            <td>Voditelj proizvodnje</td>
            <td>23400 205</td>
            <td>Vlado H.</td>
        </tr>
    </table>

    <div id="slika_utovara" style="display:none">
        <img src="~/images/istovar_kamiona.jpg" alt="istovar_kamiona" style="width:40%">
    </div>


</body>



</html>



<h2>Hrvatski</h2>

